body{
    background-color: lightblue;
}
header{
    background-color: #000000;
    margin: 0%;
    border-bottom: 1px solid black;
    text-align: center;
    color: white;
    font-size: 200%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.intro{
    background-color: #3d985d;
    padding-left:20%;
    padding-right:20%;
    margin: 0%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.test-area{
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.text-wrapper{
    max-width: 100%;
}
#text-area{
    width: 100%;
    background-color: rgb(230, 228, 228);
    border:15px solid grey;
}
.timer{
    margin: 2%;
    font-size: 240%;
    width: 20%;
}
#wpm{
    float: right;
    font-size: 150%;
    color:  #3d985d;
   margin-left: 2%; 
}
#error{
    float: left;
    font-size: 150%;
    color: rgb(231, 23, 23) ;
    margin-left: 2%;
}
button{
    margin: 5%;
    padding:10px;
    color:rgb(231, 23, 23);
    background-color: white;
    border:10px solid rgb(231, 23, 23);
}
button:hover{
    color: white;
    background-color: rgb(231, 23, 23);
}
#original-text{
    padding: 2%;
    width: 100%;
    background-color: lightblue;
}